@charset "utf-8";

/*ν—¤λ”*/
#mainMenu{
    display:inline-block;
}

.menuWrap{
    width:200px;
    height:860px;
    background:maroon;
}
.menuWrap h1{}
.menuWrap h1 a{}

.gnb{
    width:130px;
    margin-top:30px;
}
.gnb li{
    width:0;
    height:50px;
}
.gnb a{
    display:block;
    width:200px;
    line-height:50px;
    padding-left:20px;
    box-sizing:border-box;
    color:#fff;
    font-size:16px;
}
.gnb li a:hover{
    transition:background 0.5s;
    background-color:firebrick;
}

/*ν‘Έν„°*/
footer{
    width:800px;
    height:150px;
    background-color:cornflowerblue;
    position:relative;
}
footer p{
    font-size:12px;
    color:aliceblue;
    line-height:150px;
    padding-left:40px;
}
footer .top{
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    background-color:darkslateblue;
    font-size:13px;
    color:aliceblue;
    text-align:center;
    border-radius:10px;
    position:absolute;
    right:40px;
    top:50%;
    margin-top:-25px;
}