@charset "utf-8";

#container,#mainMenu{
    vertical-align:top;
}

#container{
    display:inline-block;
}

/*메인슬라이더*/
.mainSlider{
    width:800px;
    height:400px;
    line-height:400px;
    background:lavender;
    color:rebeccapurple;
    font-size:20px;
    text-align:center;
}

/*컨텐츠1*/
.con1{
    margin:80px 0;
    position:relative;
}

.slide{
    width:510px;
    margin:0 auto;
}
.slide li{
    float:left;
    margin-right:30px;
}
.slide li:last-child{
    margin:0;
}
.slide a{
    display:block;
    width:150px;
    height:150px;
    line-height:150px;
    text-align:center;
    background-color:coral;
    border-radius:50%;
    font-size:15px;
    color:azure;
}
.slide a:hover{
    transition:background 0.5s;
    background-color:crimson;
}

.arrow{}
.arrow a{
    font-size:50px;
    color:orange;
    position:absolute;
    top:50%;
    margin-top:-43px;
}
.arrow a:first-child{
    left:60px;
}
.arrow a:last-child{
    right:60px;
}